html {
  scroll-behavior: smooth;
}

head{
  font-family: sans-serif;
  font-size: 10pt;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 30px;
  font-size: 10pt;
  
}

a.skip {
  /* display: block; */
  position: relative;
  left: -180px;
  -webkit-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
  z-index: 1;
  
}

a.skip:focus {
  left: 0px;
}

/* a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
} */


header {
  border-bottom: 2px solid #5F8AC6;
  margin-bottom: 20px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

#head-icon {
  /* ref: https://css-tricks.com/clipping-masking-css/ */
  width:38px; 
  clip-path: circle(13px at center);
  border: 1px solid   #9399CC ;
}

#logo{
  text-align: center;
}

/* Nav */
.current {
    border: 0.5px  #9399CC solid;
  
}
.nav_links{
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}
.nav_item{
  text-align: center;
  margin: 0.5px;
  padding-left: 20px;
  padding-right: 20px;

}
.nav_item a{
  color:  #4D4F6A;
  padding: 1px;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: black;
  text-decoration: underline overline;
  /* -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted; */
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  padding: 20px 30px;
}

h2, h3{
  padding: 10px 30px;
}

h3 {
  text-align: center;
  margin: 0;
  font-size: 1.2em;
}

h4 {
  text-align: center;
}

p {
  color: #4D4F6A;
  padding: 10px 40px;
  line-height: 150%; 
}

ul {
  padding: 0px 10px 0px 55px;
  line-height: 150%; 

  list-style-type: circle;
}

/* Landing */
#intro {
  text-align: center;
}
/* Info */

#info > img {
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Projects */
.projects {
  /* padding: 20px; */
  /* width: 100%; */
  /* height: auto; */
  display: grid;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
}

div.project {
  width: 350px;
  height: 350px;
  /* width: 100%; */
  /* height: auto; */
  margin: 10px auto 10px auto;
  /* margin-left: auto;
  margin-right: auto; */
  border: 2px  #9399CC solid;
  background-color: transparent;
  perspective: 1000px;
  overflow: hidden;

}

/* ref: https://www.w3schools.com/howto/howto_css_flip_card.asp */

/* This container is needed to position the front and back side */
.flip {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.project:hover .flip {
  transform: rotateY(180deg);
}
.project:focus .flip {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden; 
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-back >a> h3 {
  margin-left: auto;
  margin-right: auto;
}

.flip-back >a> h3, .description {
  width: 290px;
  display: block;
  padding: 0;
  /* margin: 40; */
  margin-top: 40px;
  margin-bottom: auto;
  text-align: center;
  
}

.flip-front {
  background-color:white;
  color: black;
}

.flip-front > img {
  width: auto;
  height: 350px;
  margin: 0
}

.flip-back {
  background-color: white;
  color: white;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.project {
  width: 350px;
  height: 350px;
}
.flip-back {
  width:350px;
}
/* Results */
h3 {
  text-align: left;
  text-indent: 1em;
}


/* Gallery */
.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery > img{
  margin: 10px;
  width: 80%;
  height: auto;
  flex: 0 0 auto;
  overflow: hidden;
  -webkit-filter: opacity(0.8);
  filter: opacity(0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.gallery>img:hover {
  -webkit-filter: opacity(1);
  filter: opacity(1);
}


/* Results */
.container{
  padding: 0px 20px;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
}

.item {
  text-align: center;
  padding: 5px 20px;
}
.item > img{
  max-width: 80%;
  height: auto;
  overflow: hidden;
}

/* animation */

@-webkit-keyframes moveball{
  from{
    width: 20px;
  }
  to{
    width: 80px;
  }
} 
@keyframes moveball{
  from{
    width: 20px;
  }
  to{
    width: 80px;
  }

}
/* 
#tt-animate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  */

#animate-ball{
  bottom: 0;
  max-width: 5%;
  margin: 0 auto 0 auto;
  position:relative;
  /* z-index: 1; */
  -webkit-animation-name: moveball;
  -webkit-animation-iteration-count: 5;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-name: moveball;
  animation-iteration-count: 5;
  
  /* animation-iteration-count: infinite; */
}



footer{
  display: block;
  height: 45px;
  background-color:#4D5D7B;
  color: white;
  /* margin-top:10px; */
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
footer > p {
  color: white;
  padding: 0;
}
footer > p > a {
  color: white;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1180px){
  body{
    font-size: 12pt;
  }

  h2 {
    text-align: left;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
  }
  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .nav_item{
    padding-left: 10px;
    padding-right: 10px;
  }
    

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gallery > img{
    width: 40%;
  }

  /* Results */
  .container{
    grid-template-columns: auto auto;
  }
  div.item>img {
    width: 95%;
  }
  .item {
    text-align: center;
    padding: 10px 5px;
  }

  /* Projects tablet */
  .projects {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }
  .project {
    width: 300px;
    height: 300px;
  }
  .flip-back {
    width: 300px;
  }
  /* Results */
  h3 {
    text-align: left;
    text-indent: 1em;
  }




}

/* larger screen */
@media screen and (min-width: 1181px){
  
  body{
    font-size: 14pt;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
  }
  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
  }
  
  /* Landing */
  div#info {
    padding: 40px 80px 10px 80px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  /* Info */
  
  #info.content {
    grid-column: 2 / span 2;
  }

  #info > img {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  h2 {
    text-align: left;
  }
  /* Projects */
  .projects {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }
  .project {
    width: 350px;
    height: 350px;
  }
  .flip-back {
    width:350px;
  }
  /* Results */
  h3 {
    text-align: left;
    text-indent: 1em;
  }
  .container{
    grid-template-columns: auto auto;
  }

}

@media screen and (prefers-reduced-motion: reduce){
  html{
    scroll-behavior: auto;
  }

  .gallery > img{
    -webkit-filter: none;
    filter: none;
    -webkit-transition: none;
    transition: none;
  }
  .gallery>img:hover {
    -webkit-filter: none;
    filter: none;
  }



  
}